# Directories
.vs/
bin/
Core/external/
Sample/objects/
Sample/shaders/*.spv
Sample/shaders/*.comp.spv
Sample/shaders/*.vert.spv
Sample/shaders/*.frag.spv

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.log
Makefile

# Exclude
!Vendor/Binaries